<div class="collapse navbar-collapse top-nav w3l" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav linkEffects linkHoverEffect_11 custom-menu">
    {% for item in Model.Items %}
    {{ item | shape_render }}
    {% endfor %}
  </ul>
</div>